<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Datto Project</title>
<link rel="stylesheet" href="assets/vendor/bootstrap.min.css" />
<!--for some reason my browser wasn't downloading this file-->
<link ref="stylesheet" type='text/css' href="assets/css/main.css" />
<!-- adding inline as a fallback -->
<style type='text/css'>
.top-padding{padding-top: 10px;}
.extra-padding{padding-top: 200px;}
.dropdown-menu li{
	position: relative;
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a::after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 6px 0 6px 6px;
}
.auto-show .dropdown-menu{
	display: block;
}
.auto-show .hidden{
	display: block!important;
}
.menu-icon{
	right: 5%;
	position: absolute;
	top: 10%;
}
</style>

<script src="assets/vendor/jquery.min.js"></script>
<script src="assets/vendor/bootstrap.min.js"></script>
<script src="assets/js/app.js"></script>