<div class='col-xs-6'>
	<div class='top-padding dropdown'>
		<a class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
			Learn Frontend languages &nbsp; <span class='caret'></span>
		</a>
		<script>
			document.write(outputMenu('front_end'));
		</script>
	</div>
</div>
<div class='col-xs-6'>
	<div class='top-padding dropdown'>
		<a class='btn btn-default dropdown-toggle' data-toggle='dropdown'>
			Learn Backend languages &nbsp; <span class='caret'></span>
		</a>
		<script>
			document.write(outputMenu('back_end'));
		</script>
	</div>
</div>