<!doctype html>
<html lang='en'>
<head>
<%- include('../views/_header') %>
</head>
<body>
	<section class='container-fluid'>
		<div class='row'>
			<%- include('../views/_menu')%>
		</div>
		<div class='row top-padding extra-padding auto-show'>
			<%- include('../views/_menu')%>
		</div>
	</section>
	<%- include('../views/_footer')%>
</body>
</html>